.container-cards-title {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 25em;
    margin: 1em;

}

.card-body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    background-color: #ffffff;

    border: 1px solid rgba(0, 0, 0, 0.248);

    border-radius: 5px;
    margin: 1em;
    width: 18em;
    height: 25em;

}

.card-img {
    padding: 10px;
    width: 18em;
    height: 15em;

    max-width: auto;
    max-height: 11em;
}

.card-title,
.card-body p {
    margin: 5px;
    color: rgb(0, 0, 0);
}


.card-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-button-buy,
.card-button-addcart {

    width: 6em;
    height: 3em;
    margin: 5px;

    color: #FFF;
    background-color: rgb(225, 107, 33);

    border: none;
    border-radius: 4px;
}

.card-button-buy:hover,
.card-button-addcart:hover {
    background-color: rgb(255, 132, 56);
}