.container-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    width: 90%;
    margin: 5%;
    margin-top: 8em;

    background-color: rgb(40, 38, 36);
    color: wheat;
}

.btn-finalize-buy {
    background-color: #113609;
    border: none;
    color: #E0CFAE;
    padding: 1em;
    margin: 5px;
    letter-spacing: 2px;
    font-size: 22px;
    border-radius: 5px;
}

.btn-finalize-buy:hover {
    background-color: #236d12;
    cursor: pointer;
}


.label-form {
    font-size: 25px;
    margin: 5px;
    margin-left: 25px;
}

.feedback-send-data {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    color: #E0CFAE;
    font-size: 20px;
}



@media only screen and (max-width : 420px) {

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input {
        width: 200px;
        height: 30px;
        font-size: 25px;
    }

    .label-form {
        font-size: 25px;
        margin: 5px;
    }

    .btn-finalize-buy {
        margin-top: 70px;
    }

    .feedback-send-data {
        margin-top: 10em;
        color: #E0CFAE;
        font-size: 20px;
    }
}