.container-contacts {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: aliceblue;
    color: black;

    width: 40em;
    height: 30em;
}