.navbar-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5em;
    top: -5px;
    z-index: 1;
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #6E7E85;

    margin: 10px;
    height: 3em;
}

.title-img-logo {
    max-width: 10em;
    max-height: 5em;
    margin-top: 5px;
    border-radius: 20px 20px 0px 20px;
    cursor: pointer;
}

.navbar-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-btns button {
    background-color: #333333;
    color: #E0CFAE;
    /* border: 1px solid #E0CFAE; */

    letter-spacing: 1.5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;

    margin: 5px;
    width: 10em;
    height: 4em;
}

.navbar-btns button:hover {
    background-color: #414141;
}

.input-search {
    outline: none;
    border: 2px solid #333333;
    letter-spacing: 1.5px;
    font-size: 14px;

    background-color: rgb(255, 253, 252);

    margin: 10px;
    width: 15em;
    height: 3.5em;

    border-radius: 3px;
}

.navbar-btn-search {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #E0CFAE;
    background-color: #333333;
    border-radius: 3px;

    margin-right: 20px;
    margin-left: -12px;
    width: 3em;
    height: 3.3em;

    cursor: pointer;
}

.btn-search {
    font-size: 25px;
}

.navbar-btn-search:hover {
    background-color: #343434;
    color: #E0CFAE;
}

.navbar-cart {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #E0CFAE;
    color: rgb(255, 255, 255);
    border-radius: 3px;

    font-size: 14px;
    margin: 10px;
    width: 3em;
    height: 3em;

    cursor: pointer;
}

.navbar-cart:hover {
    color: #000;
    background-color: #E0CFAE;
    border: 2px solid transparent;
}

.cart {
    font-size: 25px;
}

.container-circle-num-cant {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0CFAE;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #000;
}

.circle-num-cant {
    position: absolute;
    color: #000;
    font-weight: bold;
    font-size: 20px
}

@media only screen and (max-width : 420px) {
    .navbar-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #E0CFAE;
        color: rgb(255, 255, 255);
        border-radius: 3px;
        font-size: 14px;
        margin: 10px;
        width: 2em;
        height: 2em;
        cursor: pointer;
    }

    .container-circle-num-cant {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0CFAE;
        bottom: 1px;
        right: 35px;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        color: #000;
    }

    .container-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10em;
    }
}


@media only screen and (max-width : 420px) {
    .navbar-container {

        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 7em;
        padding-bottom: 10px;
        z-index: 1;
    }

    .navbar-title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6E7E85;
        margin: 15px;
        height: 3em;
    }

    .navbar-btn-search {
        display: none;

    }



    .input-search {
        display: none;
        outline: none;

    }

    .navbar-btns button {
        background-color: #000000;
        color: #E0CFAE;
        border: 1px solid #E0CFAE;
        letter-spacing: 0.5px;
        font-size: 11px;
        border-radius: 2px;
        cursor: pointer;
        margin: 2px;
        width: 7.5em;
        height: 3em;
    }

}